params {
  genomeFasta = "$launchDir/data/genome.fasta"
  outputDir = "$launchDir/output"
  outputFileName = "probes.bam"
  probesFastaFile = "$launchDir/data/probes.fasta"
  wantSplicedAlignments = true
  fastaSubsetSize = 100000
  gtfFile = "$launchDir/data/genome.gtf"
}


process {
  maxForks = 2

  withName: gsnapMapping {
    ext.nPaths = 30
  }

  withName: gsnapMapping {
    ext.params = "-D 20 -R 3 -N 1 -L 20 -i S,1,0.50 -I 0 -X 1000 -f"
  }




}

includeConfig "$baseDir/conf/docker.config"
