params {
  genomeFastaFile = "$launchDir/data/genome.fasta"
  outputDir = "$launchDir/output"
  outputFileName = "probes.bam"
  probesFastaFile = "$launchDir/data/probes.fsa"
  wantSplicedAlignments = true
  platformType = "expression"
  gtfFile = "$launchDir/data/genome.gtf"
  makeCdfFile = false
  makeNdfFile = true
  outputMappingFileName = "geneProbeMapping.tab"
  vendorMappingFile = "/home/jbrestel/arrayPlatform/data/100722_CIRS_TK_EXP.ndf"
  arrayRows = 712
  arrayColumns = 712
}


process {
  maxForks = 2

  withName: gsnapMapping {
    ext.nPaths = 30
    ext.params = "-D 20 -R 3 -N 1 -L 20 -i S,1,0.50 -I 0 -X 1000 -f"
  }

  withName: bedToGene2Probe {
    ext.gtfFeatureType = "exon"
    ext.geneGtfTag = "gene_id"
  }

  withName: cdfFromGene2Probe {
    ext.minProbes = 3
  }


}

includeConfig "$baseDir/conf/docker.config"
